services:
  neo4j:
    image: neo4j:5
    environment:
      - NEO4J_AUTH=none
      - NEO4J_server_bolt_listen__address=0.0.0.0:7687
      - NEO4J_server_http_listen__address=0.0.0.0:7474
    ports:
      - "7474:7474"
      - "7687:7687"
